#bodyCover{
    background-image: url("../assets/img/Death_Ship-1050x700-1.jpg");
}

#head{
    }

#cell1{
    }

#img1{
    background-image: url("../assets/img/aa93234d940dcc22899e46b32b86cc2f_thumb_fb.jpg");
}

#cell131{
    }

#cell41{
    }

#img2{
    background-image: url("../assets/img/d01e6cb3c79fbec7b1ecef3cb235d7da.jpg");
}

#cell42{
    }

#img3{
    background-image: url("../assets/img/15002758651_17_july_2017_i50982_silach_vyacheslav_maksuta_snya.jpg");
}

#subTitle{
    text-align: center;
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    letter-spacing: 0.0001em;
    margin: 10px 0px 0.3em;
    padding: 0px 20px;
}

#h32{
    color: rgb(97, 181, 199);
    line-height: 1.1em;
    text-align: left;
    font-size: 1.5em;
}

#mh31{
    line-height: 1.1em;
    text-align: center;
    font-size: 2em;
    letter-spacing: 0.0001em;
    color: rgb(97, 181, 199);
}

#h33{
    color: rgb(97, 181, 199);
    line-height: 1.1em;
    text-align: left;
    font-size: 1.5em;
}

#h34{
    color: rgb(97, 181, 199);
    margin: 0px;
    padding: 0px;
    line-height: 1.1em;
    text-align: left;
    font-size: 1.5em;
}

#h35{
    color: rgb(97, 181, 199);
    margin: 0px;
    padding: 0px;
    line-height: 1.1em;
    text-align: left;
    font-size: 1.5em;
}

#mainTitle{
    font-family: HACKED;
    color: rgb(210, 218, 78);
    font-size: 3em;
    line-height: 1em;
}

#mainTitleMob{
    font-family: HACKED;
    font-size: 3em;
    line-height: 1em;
    color: rgb(210, 218, 78);
}

#h41{
    font-size: 1em;
    color: rgb(210, 218, 78);
    font-family: Quicksand-Regular_0;
}

#p1{
    font-size: 0.8em;
    letter-spacing: 0.0001em;
    line-height: 1.1em;
    font-family: Quicksand-Regular_0;
    color: rgb(191, 191, 191);
}

#p2{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
}

#mp1{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
}

#p3{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
}

#h42{
    font-size: 1em;
    color: rgb(210, 218, 78);
    font-family: Quicksand-Regular_0;
}

#p4{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
    margin: 0px;
    padding: 0px;
}

#p5{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
}

#dd1{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
    display: none;
}

#p6{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
    margin: 0px;
    padding: 0px;
}

#p7{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
}

#dd2{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
    display: none;
    overflow: hidden;
    height: 291px;
    padding-top: 0px;
    margin-top: 0px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

#p8{
    font-size: 1em;
    font-family: Quicksand-Regular_0;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
}

#h44{
    font-size: 1em;
    color: rgb(97, 181, 199);
    font-family: Quicksand-Regular_0;
    margin: 0px 0px 0.3em;
}

#p9{
    font-family: Quicksand-Regular_0;
    font-size: 1em;
    line-height: 1.3em;
    color: rgb(230, 230, 230);
}

